h3 {
  color: var(--color-grey);
  text-align: center;
}

.num_speed {
  margin-right: 0.2rem;
  font-size: 32px;
  color: var(--color-bl);
}

.span {
  display: flex;
  align-items: center;
  color: var(--color-bl);
}